.jumbotron {
  background-color: #e4e013;
  color: black;
  margin-top: 40px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #e4e013;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.button-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
